<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Sign Up</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<form action="/user" method="POST">
    <label>Username: <input name="username" th:value="${username}" required /></label>
    <label>Email: <input type="email" name="email" th:value="${email}" /></label>
    <label>Password: <input type="password" name="password" required /></label>
    <label>Verify Password: <input type="password" name="verify" required /></label>
    <p>Please provide your contact information below for urgent matters or in case we need to reach you promptly during your travels.</p>
    <label>First Name: <input name="firstname" th:value="${firstname}" /></label>
    <label>Last Name: <input name="lastname" th:value="${lastname}" /></label>
    <label>Mailing Address: <input name="address" th:value="${address}" /></label>
    <label>Phone Number: <input name="phonenumber" th:value="${phonenumber}" /></label>
    <p class="error" th:if="${error}" th:text="${error}"></p>
    <button type='submit'>Sign up</button>
</form>

</body>
</html>