<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>List of Activities</title>
</head>
<body>

    <main>
        <h1>List of Activities</h1>

        <th:block>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event description</th>
                        <th>Cost</th>
                        <th>Location</th>
                        <th>Start_date</th>
                        <th>End_date</th>
                        <th>Activity Type</th>
                        <th>Group/Organizer</th>
                    </tr>
                </thead>
            </table>
        </th:block>
    </main>

</body>
</html>