<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Activity Test Page</title>
</head>
<body>
    <main>
        <p>Here's an activity.</p>
        <div th:each="comment:${comments}">
            <p th:text="${comment.text}"></p>
        </div>

        <form method="POST">
            <div>
                <label th:for="text">Leave your comments</label>
                <input th:value="${newComment.text}" id="text" name="text"/>
            </div>
        </form>
    </main>

</body>
</html>