<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Activity Test Page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <main>-->
<!--        <p>Here's an activity.</p>-->
<!--        <div th:each="comment:${comments}">-->
<!--            <p th:text="${comment.text}"></p>-->
<!--        </div>-->

<!--        <form method="POST">-->
<!--            <div>-->
<!--                <label th:for="text">Leave your comments</label>-->
<!--                <input th:value="${newComment.text}" id="text" name="text"/>-->
<!--            </div>-->

<!--            <button type="Submit">Save</button>-->
<!--        </form>-->
<!--    </main>-->

<!--</body>-->
<!--</html>-->

<!-- this test page is deleted since the comment feature has moved to the individual activity page -->